*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: blueviolet;
}

header{
    background-color: black;
    
}

header h1{
    color: white;
    text-align: center;
    padding: 10px;
}

#icon{
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    
}

#icon:hover{
    background-color: white;
    color: black;
}

#itens{
    background-color: black;
    display: none;
}

#itens ul{
    list-style: none;
  
}
#itens a{
    display: block;
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-top: 1px solid black;
}


#itens a:hover{
    transition: 1.5s;
    background-color: white;
    color: black;
}

main{
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.637);
}

main h1{
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    border-radius: 10px 10px 0 0;

}

main p{
    padding: 20px 10px;
    text-align: justify;

}