*{
    margin: 0%;
    padding: 0%;
}

body{

}

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    
    
}
header h1{
    padding: 10px;
   
}

#icon{
    margin: 16px 10px;
    display: block;
    align-items: center;
}

#icon:hover{
    background-color: white;
    color: black;
    border-bottom: black solid 1px;
    
}

#botoes{
    background-color: rgb(0, 0, 0);
    display: none;
    
}

#botoes ul{
    
    list-style: none;
    text-align: center;
}

#botoes li {
    
    
}
#botoes a{
    border-top: 1px solid rgb(233, 228, 228);
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    
}

#botoes a:hover{
    background-color: white;
    color: black;
}