


@media screen and (max-width: 768px){
   
}

@media screen and (min-width: 768px) {
  header {
    

  }  

  header h1{
    display: block;
    margin: auto;
  }  
  

  header #icon{
    display: none;

  }  

  #botoes{
    display: block;
  }

  #botoes ul{
    text-align: left;
    
  }

  #botoes li{
    display: inline-block;
    margin:  0 5px;
  }

  #botoes a{
    border: none;
  }

  main{
    width: 650px;

  }
    
}